<!--Note: for scrollShrink to work, the toolbar must be a sibling of a md-content element, placed before it.-->
<md-content class="md-whiteframe-glow-z1">
    <div layout="row" class="card-top-vc background-vc" layout-wrap layout-align="center center">
        <div layout="row" flex="90" flex-gt-sm="60" layout-wrap>
            <div layout="column" flex="100" flex-gt-xs="40">
                <div class="profile-image-outer-vc">
                    <div class="profile-image-placeholder-vc text-center  md-whiteframe-glow-z1">
                        <p class="text-ccc">
                            Profile Image
                        </p>
                    </div>
                </div>
            </div>
            <div layout="column" class="name-title-column-vc" flex="100" flex-gt-xs="60">
                <h1 class="h1-name-title-column-vc">Your Name</h1>
                <h3 class="h3-name-title-column-vc">Profession/Skill Headline</h3>
                <p class="smaller-font">
                    Succinct additional skill highlights & summary... consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div layout="column" class="smaller-font-15" style="" flex="90" flex-gt-sm="40">

            <ul class="personal-info-vc">
                <li>
                    <label for="">Name</label>
                    <span>Your Name</span>
                </li>
                <li>
                    <label>Location</label>
                    <span>Street, City, State</span>
                </li>
                <li>
                    <label for="">E-mail</label>
                    <span>you@emailprovider.com</span>
                </li>
                <li>
                    <label for="">Phone</label>
                    <span>xxx-xxx-xxxx</span>
                </li>
                <li>
                    <label for="">Website</label>
                    <span>altwebsite.com</span>
                </li>
            </ul>
        </div>
    </div>
</md-content>
