<md-content class="md-whiteframe-glow-z1">
    <div>
        <div layout="row" class="card-middle-vc" layout-align="center center">
            <md-button ui-sref="dkworkshop-ws-vcard.home">
                <md-icon class="card-middle-icons-vc" aria-div="Menu">person</md-icon>
                <div class="icons-caption-vc">Home</div>
            </md-button>
            <md-button ui-sref="dkworkshop-ws-vcard.portfolio">
                <md-icon class="card-middle-icons-vc" aria-div="Menu">widgets</md-icon>
                <div class="icons-caption-vc">Portfolio</div>
            </md-button>
            <md-button ui-sref="dkworkshop-ws-vcard.resume">
                <md-icon class="card-middle-icons-vc" aria-div="Menu">business_center</md-icon>
                <div class="icons-caption-vc">Resume</div>
            </md-button>
            <md-button ui-sref="dkworkshop-ws-vcard.blog">
                <md-icon class="card-middle-icons-vc" aria-div="Menu">hdr_weak</md-icon>
                <div class="icons-caption-vc">Blog</div>
            </md-button>
            <md-button ui-sref="dkworkshop-ws-vcard.contact">
                <md-icon class="card-middle-icons-vc" aria-div="Menu">mail_outline</md-icon>
                <div class="icons-caption-vc">Contact</div>
            </md-button>

        </div>
    </div>
</md-content>
