/*
NOTE
Located in angular material css:
.md-toolbar-tools
.md-icon-button
TODO: .md-whiteframe-glow-z1 in common workshop css
*/

.color-106CC8 {
    color: #106CC8;
}
.md-title-light {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.005em;
}
.workshop-toolbar-simple {
    background: #f6f6f6 !important;
    height: 64px;
}
.tools-background {
    background: rgba(0, 0, 0, 0.065);
}
