<!-- TODO:  change css to make it more relative to site -->
<div layout="column">
    <h2 class="md-headline">What is the Ng Kindred project?</h1>
    <p>
        Lorem ipsum , consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
    </p>

    <ul layout="row" class="all-posts-top-list">
        <li flex="100" flex-gt-sm="50">
            <md-button class="md-raised all-posts-top-list-buttons" ng-href="#/dkindred/blogs/digi-kindred" aria-label="description" md-no-ink="false" md-ripple-size="full">
                <md-icon class="all-posts-top-list-icons">devices_other</md-icon>
                <div>Starter Templates</div>
            </md-button>
        </li>
        <li flex="100" flex-gt-sm="50">
            <md-button class="md-raised all-posts-top-list-buttons" ng-href="#/dkindred/blogs/full-stack" aria-label="description" md-no-ink="false" md-ripple-size="full">
                <md-icon class="all-posts-top-list-icons">keyboard</md-icon>
                <div>Full Stack</div>
            </md-button>
        </li>
    </ul>
</div>
