<div layout="column" class="body-element-placeholder background-fff">

    <md-toolbar class="md-toolbar-inverse-222" md-scroll-shrink md-shrink-speed-factor="0.5">
        <div class="site-width-1170">
            <nav layout="row">
                <h2 class="md-title">
                      <span>Project Name</span>
                    </h2>
                <span flex></span>
                <div layout="row">
                    <md-input-container class="herotron-input">
                        <label>E-mail</label>
                        <input ng-model="user.email" type="email">
                    </md-input-container>
                    <md-input-container class="herotron-input">
                        <label>Password</label>
                        <input ng-model="user.password" type="password">
                    </md-input-container>
                    <md-button class="md-raised md-success-5cb85c" md-no-ink="true" md-ripple-size="full">Sign in</md-button>
                    <md-button class="md-icon-button" href="" ng-disabled="false" aria-label="Menu" md-ripple-size="auto" hide-gt-sm>
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </nav>
        </div>
    </md-toolbar>
    <div class="herotron">
        <div class="site-width-1170">
            <h1 class="md-display-3">Hello, world!</h1>
            <p class="font-20">
                This is a template for a simple marketing or informational website. It includes a large call out called a herotron and three supporting pieces of content. Use it as a starting point to create something more unique.
            </p>
            <p>
                <md-button class="md-raised md-primary" href="#" md-ripple-size="full">Learn more &raquo;</md-button>
            </p>
        </div>
    </div>
    <div class="main">
        <section>

            <div class="site-width-1170">
                <div layout="row" layout-xs="column" layout="row">
                    <div layout="column" flex-xs flex-gt-xs="33">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text><span class="md-headline">Headline</span></md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <md-button class="md-raised" href="#">View details &raquo;</md-button>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div layout="column" flex-xs flex-gt-xs="33">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text><span class="md-headline">Headline</span></md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <md-button class="md-raised" href="#">View details &raquo;</md-button>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div layout="column" flex-xs flex-gt-xs="33">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text><span class="md-headline">Headline</span></md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <md-button class="md-raised" href="#">View details &raquo;</md-button>
                            </md-card-content>
                        </md-card>
                    </div>

                </div>

            </div>
        </section>
        <footer>
            <div class="site-width-1170">
                <p>&copy; 2016 Company, Inc.</p>
            </div>
        </footer>
    </div>

</div>
